.nav-list {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: 'Source Serif 4', serif;
  font-size: 1.3rem;
  /* default gap */
  align-items: center;
  /* margin-top: 0;
  margin-bottom: 0; */
}

@media (min-width: 1024px) {
  .nav-list {
    gap: 6rem;
    /* even larger gap on lg screens */
  }
}

@media (min-width: 1280px) {
  .nav-list {
    gap: 10rem;
    /* largest gap on xl screens */
  }
}